<?xml version="1.0" ?>
<robot>
  <xacro:macro name="black">
		<material name="black">
			<color rgba="0.1 0.1 0.1 1.0"/>
		</material>
	</xacro:macro>
	
	<xacro:macro name="White">
		<material name="White">
			<color rgba="1.0 1.0 1.0 1.0"/>
		</material>
	</xacro:macro>
	
	<xacro:macro name="grey1">
		<material name="grey1">
			<color rgba="0.75 0.75 0.75 1.0"/>
		</material>
	</xacro:macro>
	
	<xacro:macro name="grey2">
		<material name="grey2">
			<color rgba="0.6 0.6 0.6 1.0"/>
		</material>
	</xacro:macro>
	
	<xacro:macro name="grey3">
		<material name="grey3">
			<color rgba="0.8 0.8 0.8 1.0"/>
		</material>
	</xacro:macro>

	<xacro:macro name="ax12_color">
		<material name="ax12_color">
			<color rgba="0.2 0.2 0.2 1.0"/>
		</material>
	</xacro:macro>
	
	<xacro:macro name="bracket_color">
		<material name="bracket_color">
			<color rgba="0.9 0.9 0.9 1.0"/>
		</material>
	</xacro:macro>

        <xacro:macro name="cyan1">
		<material name="cyan1">
			<color rgba="0 0.9 0.9 1.0"/>
		</material>
	</xacro:macro>

	<xacro:macro name="cyan2">	
		<material name="cyan2">
	     <color rgba="0 0.7 0.7 1.0"/>
		</material>
	</xacro:macro>
	
	<xacro:macro name="cyan3">	
		<material name="cyan3">
	     <color rgba="0 0.5 0.5 1.0"/>
		</material>
	</xacro:macro>

        <xacro:macro name="yellow2">
		<material name="yellow2">
			<color rgba="0.8 0.9 0 1.0"/>
		</material>
	</xacro:macro>

        <xacro:macro name="gold">
		<material name="gold">
			<color rgba="0.5 0.3 0 1.0"/>
		</material>
	</xacro:macro>
	
	<xacro:macro name="green1">
		<material name="green1">
			<color rgba="0 1 0 1.0"/>
		</material>
	</xacro:macro>
	
	<xacro:macro name="green2">
		<material name="green2">
			<color rgba="0.1 0.8 0 1.0"/>
		</material>
	</xacro:macro>

        <xacro:macro name="blue">
		<material name="blue">
			<color rgba="0 0 0.9 1.0"/>
		</material>
	</xacro:macro>

        <xacro:macro name="ax12_color">
		<material name="ax12_color">
			<color rgba="0.1 0.1 0.1 1.0"/>
		</material>
	</xacro:macro>
</robot>
